@media (min-width: 1200px) {
  .container {
    max-width: 1180px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1366px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1440px;
  }
}
@media (min-width: 1700px) {
  .container {
    max-width: 1520px;
  }
}
@media only screen and (max-width: 1699px) {
  html {
    font-size: 9.5px;
  }
}
@media only screen and (max-width: 1599px) {
  .hero-text-wrap {
    grid-gap: 5rem;
  }
  html {
    font-size: 9px;
  }
  .time-schedule-wrap {
    grid-gap: 2rem 4rem;
  }
  header .header-nav {
    padding: 15px 0;
  }
  .select-time-wrap {
    padding-left: 60px;
  }
  .give-wrap-content {
    max-width: 600px;
  }
  .custom-tabs-wrap .nav-link::after {
    bottom: -23px;
  }
  .custom-tabs-wrap .nav-link::before {
    bottom: -32px;
  }
  .ribbon-top-left::before {
    right: 30px;
  }
  .ribbon-top-left::after {
    bottom: 30px;
  }
  .m-right {
    margin-right: 18px;
  }
}
@media only screen and (max-width: 1439px) {
  .hero-box-wrap {
    min-height: 25rem;
    padding: 2.2rem 1rem 3rem;
  }
  .image-wrap {
    width: 105px;
  }
  .list-item li {
    margin-bottom: 2.5rem;
  }
  .select-time-wrap {
    padding-left: 50px;
  }
  .m-right {
    margin-right: 12px;
  }
}
@media only screen and (max-width: 1365px) {
  .hero-box-wrap p {
    text-align: center;
  }
  .nao-month .year-month td {
    border-radius: 10px;
  }
  .copy-right {
    padding: 14px;
  }
  .m-right {
    margin-right: 0px;
  }
}
@media only screen and (max-width: 1279px) {
  .time-schedule-wrap {
    grid-gap: 2rem 2.5rem;
  }
  header .header-icon-button {
    margin-left: 12rem;
  }
  header .header-nav .navbar-nav .nav-item {
    padding-left: 5rem;
  }
  .hero-box-wrap {
    min-height: 20rem;
    padding: 2.2rem 1rem 2rem;
  }
  header .header-nav {
    padding: 10px 0;
  }
  .image-wrap {
    width: 95px;
  }
  .select-time-wrap {
    padding-left: 30px;
  }
}
@media only screen and (max-width: 1199px) {
  html {
    font-size: 8.5px;
  }
  body {
    font-size: 17px;
  }
  .time-schedule-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
  .hero-text-wrap {
    grid-gap: 2rem;
    padding-right: 19px;
  }
  .list-item li {
    margin-bottom: 2rem;
  }

  .list-wrap {
    padding-left: 19px;
    align-self: center;
  }
  .footer-link-title {
    margin: 0px 0px 20px 0px;
  }
  .ribbon-top-left::before {
    right: 32px;
  }
  .ribbon-top-left::after {
    bottom: 32px;
  }
  .give-wrap-content {
    max-width: 490px;
  }
}
@media only screen and (max-width: 1023px) {
  html {
    font-size: 8px;
  }
  .hero-box-wrap {
    padding: 2rem;
  }
  .custom-tabs-wrap .nav-link::after {
    bottom: -21px;
  }
  .custom-tabs-wrap .nav-link::before {
    bottom: -29px;
  }
}
@media only screen and (max-width: 991px) {
  .book-package-wrap {
    flex-wrap: wrap;
  }
  .list-wrap {
    border: 1px solid #ebeff2;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    margin: 20px auto;
  }

  .list-item li {
    padding-bottom: 20px;
    border-bottom: 1px solid #ebeff2;
  }
  .list-item li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
  header .header-icon-button {
    display: none;
    margin-left: 0;
  }

  .title-select {
    max-width: 100%;
  }
  .cal-option {
    margin-bottom: 30px;
  }
  .space-top {
    padding-top: 3rem;
  }
  .summary-wrap {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 3rem;
  }
  .btn-wrap {
    max-width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .sumy-date-time {
    width: 100%;
  }
  .user-profile-icon {
    display: none;
  }
  .accessories .user-profile-icon {
    display: block;
  }
  header .shopping-cart {
    margin-right: 0;
  }
  .footer-nav {
    display: block;
    padding: 20px 15px;
    background-color: var(--color-white);
    box-shadow: 0px -15px 50px rgba(0, 0, 0, 0.07);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  .hero {
    padding-bottom: 150px;
  }
  .footer-icon {
    width: 35px;
    height: 35px;
    text-align: center;
  }
  .footer-list {
    text-align: center;
    margin-bottom: 0;
    display: flex;
    justify-content: space-evenly;
  }
  .footer-list li {
    display: inline-block;
    padding: 0 40px;
    text-align: center;
  }
  .footer-list li:first-child {
    padding-left: 0;
  }
  .footer-list li:last-child {
    padding-right: 0;
  }
  .footer-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-grow: 1; */
    min-width: 20px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    color: #444444;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
  }
  .summary-wrap {
    background: #cce9ff;
    border-radius: 30px 30px 0px 0px;
  }
  .primary-btn {
    width: 100%;
  }
  .footer-text {
    font-size: 15px;
  }
  .hero-text-wrap {
    width: 100%;
    padding-right: 0;
  }
  .date-time-wrap > div {
    border-right: 1px solid var(--color-white);
  }
  .nao-month th,
  .nao-month td {
    border-radius: 20px;
  }
  .select-time-wrap {
    padding-left: 0px;
  }
  .give-wrapper .header-content {
    flex-wrap: wrap;
  }
  .give-wrapper .give-wrap-content {
    max-width: 100%;
    margin-top: 20px;
  }
  .profile-card {
    margin: 0 auto;
  }
  .person-miniutes-wrap {
    flex-wrap: wrap;
  }
  .book-now {
    width: 100%;
    margin-top: 15px;
  }
  .book-now-btn {
    width: 100%;
  }
  .per-times-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .booking-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }
  .number-text {
    font-size: 6rem;
  }
  .sumy-date-time {
    grid-template-columns: repeat(1, 1fr);
  }
  .date-time-wrap .time {
    border-right: 0;
  }
  .date-time-wrap > div {
    padding: 1.5rem 0;
  }
  .footer-list li {
    padding: 0 25px;
  }
  .footer-icon {
    width: 30px;
    height: 30px;
  }
  .list-wrap {
    padding: 15px;
  }
  .list-item li {
    padding-bottom: 15px;
  }
  .white-bordered {
    display: block;
  }
  .hero-box-wrap p {
    margin-top: 2.8rem;
  }
  .image-wrap {
    width: 85px;
  }
  .hero {
    padding-bottom: 130px;
  }
  .select-time h5 {
    margin-bottom: 0;
  }
  .copy-right {
    padding: 12px;
  }
  .footer-link-title {
    margin: 0px 0px 14px 0px;
  }

  .custom-tabs-wrap .nav {
    padding: 2rem;
  }
}
@media only screen and (max-width: 575px) {
  .daytime-wrap {
    padding: 1rem;
  }
  .time-schedule-wrap {
    grid-gap: 2rem;
  }
  .footer-list li {
    padding: 0 19px;
  }
  header .navbar-brand img {
    width: 200px;
  }
  .progress {
    margin: 10px 0px;
    height: 8px;
  }
  .hero-text-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
  .give-title-wrap h3 {
    max-width: 100%;
  }
  .custom-tabs-wrap .nav {
    flex-wrap: unset;
    overflow-x: scroll;
  }
  .custom-tabs-wrap .nav-link {
    white-space: nowrap;
  }
  /* .custom-tabs-wrap .nav .nav-item {
    margin-right: 2.5rem;
  } */
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 7.5px;
  }
  header .navbar-brand img {
    width: 160px;
  }
  .footer-icon {
    width: 25px;
    height: 25px;
  }
  .footer-nav {
    padding: 15px;
  }
  .footer-list li {
    padding: 0 10px;
  }
  .image-wrap {
    width: 70px;
  }
  .footer-text {
    font-size: 12px;
  }
  .summary-wrap {
    border-radius: 20px 20px 0px 0px;
  }
  .time-schedule-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
  header .add-to-cart::after {
    width: 13px;
    height: 13px;
  }
  .hero {
    padding-bottom: 100px;
  }
  .list-item li {
    padding-bottom: 14px;
  }
  .select-peak-title {
    flex-wrap: wrap;
    width: 100%;
  }
  header .cart-icon {
    width: 40px;
    height: 40px;
  }
  .white-bordered {
    height: 8px;
  }
  .progress {
    height: 6px;
  }
  /* .person-miniutes-wrap {
    flex-wrap: wrap;
  }
  .book-now {
    width: 100%;
    margin-top: 15px;
  }
  .book-now-btn {
    width: 100%;
  }
  .per-times-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
  } */
  /* .booking-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
  } */
  .ribbon-top-left::before {
    right: 35px;
  }
  .ribbon-top-left::after {
    bottom: 35px;
  }
  .flex-item {
    align-items: center;
  }
}

@media only screen and (max-width: 350px) {
  .hero-text-wrap {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
  }
  .footer-list li {
    padding: 0px 7px;
  }
  .footer-icon {
    width: 25px;
    height: 25px;
  }
}
